.playlist {
  flex: 0.95;
  min-height: 43.75rem;
  max-height: 62.5rem;
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  background-color: var(--color-translucent-75);
  box-shadow: 3px 3px 3px var(--color-bg);
}

.playlist input {
  width: 100%;
  background: #160B6354;
  border: 1px solid var(--color-btn);
  font-family: var(--font-header);
  font-size: 1.75rem;
  color: #E7E1FD;
  padding-left: 0.375rem;
  margin-bottom: 0.5rem;
}

.playlist-save {
  cursor: pointer;
  padding: 1rem;
  border-radius: 35px;
  border: none;
  display: block;
  margin: 1.5rem auto;
  background-color: var(--color-btn);
  text-align: center;
  font-size: 0.875rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
}

.playlist-save:hover {
  background-color: var(--color-hover);
}

.playlist-save:active {
  color: #000;
}

@media only screen and (max-width: 62.5rem) {
  .playlist {
    width: 95%;
  }
}

@media only screen and (max-width: 30rem) {
  .playlist {
    width: 100%;
  }
}