.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.SearchBar input {
  width: 288px;
  padding: 0.75rem 0;
  border-radius: 3px;
  margin-bottom: 2rem;
  color: var(--color-dark);
  text-align: center;
  font-size: 1rem;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 8.125rem;
  padding: 0.875rem 0;
  border-radius: 35px;
  background-color: var(--color-dark);
  text-align: center;
  font-size: 0.875rem;
  transition: background-color .25s;
  border: none;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: var(--color-hover);
}

.SearchButton:active {
  color: #000;
}

@media only screen and (max-width: 30rem) {
  .SearchBar {
    padding-bottom: 3rem;
  }
}