.PlaylistPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.PlaylistPanel-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.PlaylistPanel button {
  width: 30%;
  background-color: var(--color-btn);
  color: var(--color-text);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border: none;
  transition: background-color .25s;
  cursor: pointer;
}

.PlaylistPanel button:hover {
  background-color: var(--color-hover);
}

.PlaylistPanel button:active {
  color: #000;
}

.PlaylistPanel-title {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: var(--font-header);
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--color-dark);
  color: var(--color-span);
}