* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-header: 'Montserrat', sans-serif;
  --font-selections: 'Work Sans', sans-serif;

  --color-bg: #160B63;
  --color-translucent-67: #160B63AB;
  --color-translucent-75: #160B63BF;
  --color-dark: #0B0531;
  --color-text: #f2f2f2;
  --color-span: #6A54FD;
  --color-hover: #65a765;
}
